:root {
--main-bg-color: #fff;
--primery-text-color: rgba(117, 117, 117, 1);
--title-text-color: rgba(33, 33, 33, 1);
--accent-color: #2196F3;
--white-color: #ffffff;
--accent-white-color: rgba(255, 255, 255, 1);
--second-accent-white-color: rgba(255, 255, 255, 0.6);

}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fff;
    color: var(--primery-text-color)
}

.list {
    list-style: none;
}

/* Site-nav */

.site-nav .link {
    color: var(--title-text-color);
}

.site-nav .link:hover {
    color: var(--accent-color);
}

.site-nav .link:focus {
    color: #80c6ff;
}

/* Auth-nav */

.auth-nav .link {
    color: var(--title-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
}
.auth-nav .link:hover {
    color: var(--accent-color);
}

.auth-nav .link:focus {
    color: #80c6ff;
}

.auth-nav .tell {
    color: var(--primery-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
}

/* Шапка */

.site-nav .link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
}

/* Герой */

.hero .section-title {
    color: var(--accent-white-color);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3;
}

.section-title .link {
    color: var(--white-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
}

/* Список переваг */

.section-title {
    color: var(--title-text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
}

.section-title p {
    color: var(--primery-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}

/* Резюме */

.resume .section-title {
    color: var(--title-text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
}

/* Команда */

.main-section-title {
    color: var(--title-text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
}

.main-section-title h3 {
    color: var(--title-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
}

.main-section-title p {
    color: var(--primery-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1;
}

/* Футер */

.address {
    color: var(--white-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}

.address span {
    color: var(--second-accent-white-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}